<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Módulo Persona</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Módulo Persona</h1>
        <button onclick="openPopup('popup_resume')">Crear Hoja de Vida</button>
        <button onclick="window.location.href='/'">Cerrar Sesión</button>
    </div>
    {% include 'components/popup_resume.html' %}
    <script src="{{ url_for('static', filename='js/main.js') }}"></script>
</body>
</html>
