<!-- popup_resume.html -->
<div id="popup_resume" class="popup">
    <div class="popup-content">
        <form id="form_resume" action="/register_persona" method="POST">
            <h2>Crear Hoja de Vida</h2>
            <label for="nombre">Nombre:</label>
            <input type="text" id="nombre" name="nombre" required>
            
            <label for="apellidos">Apellidos:</label>
            <input type="text" id="apellidos" name="apellidos" required>
            
            <label for="cedula">Cédula:</label>
            <input type="text" id="cedula" name="cedula" required>
            
            <label for="direccion">Dirección:</label>
            <input type="text" id="direccion" name="direccion" required>
            
            <label for="correo">Correo:</label>
            <input type="email" id="correo" name="correo" required>
            
            <label for="profesion">Profesión:</label>
            <input type="text" id="profesion" name="profesion" required>
            
            <label for="file">Hoja de Vida (PDF):</label>
            <input type="file" id="file" name="file" accept=".pdf" required>
            
            <button type="submit">Registrar</button>
            <button type="button" onclick="closePopup('popup_resume')">Cancelar</button>
        </form>
    </div>
</div>
